*{
    margin: 0;
    padding: 0;
}
.cabecalho
{ 
    background-color: #392C87;
    color: wheat;
    display:flex;
    justify-content: space-around;
    padding: 25px 0;
    }

.cabecalho-imagem{
        width: 25%;
    }
.cabecalho-lista-item{
    display:inline-block;
    margin:0 40px;
    font-size: 20px;
}